@import "tailwindcss";

@theme {
    /* 🎨 COLORS */
    --color-grey-50: #F4F6F7;
    --color-grey-100: #F0F0F1;
    --color-grey-200: #E6E8EC;
    --color-grey-300: #D1D4D9;
    --color-grey-500: #787878;
    --color-grey-600: #504F4F;
    --color-grey-700: #303030;
    --color-grey-800: #2D322F;
    --color-grey-900: #2D2D2D;
    --color-grey-955: #2626268C;

    --color-white-50: #FBFBFC;
    --color-white-100: #F7F7F7;
    --color-white-200: #F3F4F6;
    --color-white-300: #F4F6F7;

    --color-grey-400: #979797;
    --color-grey-550: #5D625F;
    --color-grey-600-hover: #504F4FFF;
    --color-grey-850: #2E2E2E;

    /* color variables */
    --color-swipe: var(--color-grey-400);
    --color-swipe-active: var(--color-grey-550);

    --color-link: var(--color-white-200);
    --color-link-active: var(--color-grey-700);

    /* buttons */
    --color-button-dark: var(--color-grey-900);
    --color-button-dark-hover: var(--color-grey-600-hover);
    --color-button-light: var(--color-grey-200);
    --color-button-light-hover: var(--color-grey-300);

    /* text colors */
    --color-primary: var(--color-grey-700);
    --color-secondary: var(--color-grey-500);
    --color-muted: var(--color-grey-955);
    --color-light: var(--color-white-50);
    --color-dark: var(--color-grey-850);
    --color-inverted: var(--color-white-100);

    /* 🖋️ FONTS */
    --font-archivo: "Archivo", sans-serif;
    --font-gilroy: "Gilroy", sans-serif;
    --font-konnect: "Konnect", sans-serif;

    /* BREAKPOINTS */
    --breakpoint-3xl: 120rem;
}

/* Base style for body */
body {
    @apply font-gilroy text-[14px] font-normal leading-normal;
}

/* Import fonts*/
/* Gilroy */
@font-face {
    font-family: "Gilroy-Medium";
    src: url("./assets/fonts/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("./assets/fonts/Gilroy-SemiBold.woff2") format("woff2");
}

/* Konnect */
@font-face {
    font-family: "Konnect-Regular";
    src: url("./assets/fonts/Konnect-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Konnect-Medium";
    src: url("./assets/fonts/Konnect-Medium.woff2") format("woff2");
}